<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!--Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Shopping List</h1>
        <h4><a href="/"><i class="bi bi-arrow-left"></i></a></h4>
        <div class="row">
            <div class="col-md-7">
                <table class="table table-hover caption-top">
                    <caption>Shopping List</caption>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Link</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in shopping_list %}
                        {% if item.purchased == 'no' %}
                        <tr>
                            <td>{{ item.item }}</td>
                            <td><a href="{{ item.link }}" target="_blank"><i class="bi bi-link-45deg"></i></a></td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <form method="POST" action="{{ url_for('purchase') }}" data-item-id="{{ item.id }}">
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#confirmPurchase-{{ item.id }}">Status</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="confirmPurchase-{{ item.id }}" tabindex="-1"
                                        aria-labelledby="purchaseLabel-{{ item.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="purchaseLabel-{{ item.id }}">
                                                        Confirm Purchase
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Confirm purchase <b>{{ item.quantity }}x</b> {{ item.item
                                                    }}<br>Link: <a href="{{ item.link }}"><i
                                                            class="bi bi-link-45deg"></i></a>
                                                    <div class="mb-3">
                                                        <label for="order_id" class="form-label">Order
                                                            ID/Tracking:</label>
                                                        <input type="text" class="form-control" id="order_id"
                                                            name="order_id">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                        onclick="declinePurchase('{{ item.id }}')"><i class="bi bi-x-lg"
                                                            style="padding-right: 5px;"></i>Decline</button>
                                                    <button type="submit" class="btn btn-success"><i
                                                            class="bi bi-check-lg"
                                                            style="padding-right: 5px;"></i>Purchased</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form method="POST" action="{{ url_for('edit_shopping') }}">
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#editPurchase-{{ item.id }}">Edit</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="editPurchase-{{ item.id }}" tabindex="-1"
                                        aria-labelledby="editLabel-{{ item.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="editLabel-{{ item.id }}">
                                                        Edit Item:
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="name">Item Name:</label>
                                                        <input type="text" class="form-control" id="name" name="name"
                                                            value="{{item.item}}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="link">Merchant Link:</label>
                                                        <input type="text" class="form-control" id="link" name="link"
                                                            value="{{item.link}}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="quantity">Quantity:</label>
                                                        <input type="number" class="form-control" id="quantity"
                                                            name="quantity" value="{{item.quantity}}" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                        data-bs-target="#deletePurchase-{{ item.id }}"><i
                                                            class="bi bi-trash3"
                                                            style="padding-right: 5px;"></i>Delete</button>
                                                    <button type="submit" class="btn btn-success"><i
                                                            class="bi bi-arrow-repeat"
                                                            style="padding-right: 5px;"></i>Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Modal 2-->
                                <form method="POST" action="{{ url_for('delete_shopping') }}">
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <div class="modal fade" id="deletePurchase-{{ item.id }}" tabindex="-1"
                                        aria-labelledby="delLabel-{{ item.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="delLabel-{{ item.id }}">
                                                        Delete Item:
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete the following
                                                    item:<br><b>{{item.item}}</b>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"
                                                            style="padding-right: 5px;"></i>Yes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <h4>Add Item to Shopping List</h4>
                <form method="POST" action="{{ url_for('shopping') }}">
                    <div class="form-group">
                        <label for="item">Item:</label>
                        <input type="text" class="form-control" id="item" name="item" required>
                    </div>
                    <div class="form-group">
                        <label for="link">Merchant Link:</label>
                        <input type="text" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover table-responsive caption-top">
                <caption>Purchase History</caption>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Link</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Date of Purchase</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in shopping_list %}
                    {% if item.purchased != 'no' %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td><a href="{{ item.link }}" target="_blank"><i class="bi bi-link-45deg"></i></a></td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('index') }}">
                                <input type="hidden" name="item_index" value="{{ loop.index }}">
                                <button type="button"
                                    class="btn btn-{% if item.purchased=='yes' %}success{% endif %}{% if item.purchased!='yes' %}danger{% endif %} btn-sm"
                                    {% if item.purchased=='yes' %}data-bs-toggle="modal"
                                    data-bs-target="#order-{{ item.id }}" {% endif %}{% if item.purchased!='yes'
                                    %}disabled{% endif %}>{% if item.purchased=='yes' %}<i class="bi bi-check-all"
                                        style="padding-right: 5px;"></i>Purchased {% endif %}{% if item.purchased!='yes'
                                    %}<i class="bi bi-x-square" style="padding-right: 5px;"></i>Declined{% endif
                                    %}</button>
                            </form>
                        </td>
                        <td>{{ item.date }}</td>
                        {% if item.purchased=='yes' %}
                        <!-- Modal -->
                        <div class="modal fade" id="order-{{ item.id }}" tabindex="-1"
                            aria-labelledby="orderLabel-{{ item.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="orderLabel-{{ item.id }}">
                                            Oredr Detail:
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>{{ item.quantity }}x</b> {{ item.item }}<br>
                                        Order ID: <b>{{ item.order_id }}</b>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
<script>
    function declinePurchase(itemId) {
        // Find the form element with the corresponding item ID
        const form = document.querySelector(`form[data-item-id="${itemId}"]`);

        // Set the action URL to the Flask route for declining the purchase
        form.action = "{{ url_for('decline_purchase') }}";

        // Submit the form
        form.submit();
    }
</script>

</html>