<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="icon" href="{{ url_for('static', filename='carleton.jpg') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!--Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Shopping List</h1>
        <h4><a href="/"><i class="bi bi-arrow-left"></i></a></h4>
        <div class="row">
            <div class="col-md-9">
                <table class="table table-hover caption-top">
                    <caption><b>Shopping List</b></caption>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Customer</th>
                            <th>Link</th>
                            <th>Qt.</th>
                            <th>Tags</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in shopping_list %}
                        {% if item.purchased == 'no' %}
                        <tr 
                        {% if 'Urgent' in item.tags|map(attribute='name') and 'Deal' in item.tags|map(attribute='name') %} style="background-color:#c8b6ff;"
                        {% elif 'Deal' in item.tags|map(attribute='name') %}class="table-primary"
                        {% elif 'Urgent' in item.tags|map(attribute='name') %}class="table-danger"{% endif %}>
                            <td>{{ item.item }}</td>
                            <td>{{ item.customer }}</td>
                            <td>
                                <h4><a href="{{ item.link }}" target="_blank"><i class="bi bi-link-45deg"></i></a></h4>
                            </td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <div class="tags">
                                    {% for tag in item.tags %}
                                    <span class="badge text-bg-{{ tag.color }}"
                                        style="background-color: {{ tag.color }};">{{ tag.name }}</span>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <form method="POST" action="{{ url_for('purchase') }}" data-item-id="{{ item.id }}">
                                        <input type="hidden" name="item_id" value="{{ item.id }}">
                                        <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#confirmPurchase-{{ item.id }}">Status</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="confirmPurchase-{{ item.id }}" tabindex="-1"
                                            aria-labelledby="purchaseLabel-{{ item.id }}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="purchaseLabel-{{ item.id }}">
                                                            Confirm Purchase
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Confirm purchase <b>{{ item.quantity }}x</b> {{ item.item
                                                        }}<br>Link: <a href="{{ item.link }}"><i
                                                                class="bi bi-link-45deg"></i></a>
                                                        <div class="mb-3">
                                                            <label for="order_id" class="form-label">Order
                                                                ID/Tracking:</label>
                                                            <input type="text" class="form-control" id="order_id"
                                                                name="order_id">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="notes_id" class="form-label">Notes:</label>
                                                            <textarea  type="text" rows="2" class="form-control" id="notes_id"
                                                                name="notes_id"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal"
                                                            onclick="declinePurchase('{{ item.id }}')"><i
                                                                class="bi bi-x-lg"
                                                                style="padding-right: 5px;"></i>Decline</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal"
                                                            onclick="archivePurchase('{{ item.id }}')"><i
                                                                class="bi bi-archive"
                                                                style="padding-right: 5px;"></i>Archive</button>
                                                        <button type="submit" class="btn btn-success"><i
                                                                class="bi bi-check-lg"
                                                                style="padding-right: 5px;"></i>Purchased</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form method="POST" action="{{ url_for('edit_shopping') }}">
                                        <input type="hidden" name="item_id" value="{{ item.id }}">
                                        <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#editPurchase-{{ item.id }}">Edit</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="editPurchase-{{ item.id }}" tabindex="-1"
                                            aria-labelledby="editLabel-{{ item.id }}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="editLabel-{{ item.id }}">
                                                            Edit Item:
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="name">Item Name:</label>
                                                            <input type="text" class="form-control" id="name"
                                                                name="name" value="{{item.item}}" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="customer">Customer:</label>
                                                            <input type="text" class="form-control" id="customer"
                                                                name="customer" value="{{item.customer}}" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="link">Merchant Link:</label>
                                                            <input type="text" class="form-control" id="link"
                                                                name="link" value="{{item.link}}" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="quantity">Quantity:</label>
                                                            <input type="number" class="form-control" id="quantity"
                                                                name="quantity" value="{{item.quantity}}" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="tags">Tags</label>
                                                            <select class="form-control" id="tags" name="tags[]"
                                                                multiple>
                                                                <option value="" disabled>Select tags</option>
                                                                {% for tag in tags %}
                                                                <option value="{{ tag.name }}" {% if tag in item.tags%}
                                                                    selected {% endif %}>{{ tag.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <div class="mt-4">
                                                                <div id="selected_tags">
                                                                    {% for tag in tags %}
                                                                    {% if tag in item.tags%} <span
                                                                        class="badge text-bg-{{tag.color}}"
                                                                        style="background-color:{{tag.color}};">{{
                                                                        tag.name }}</span> {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deletePurchase-{{ item.id }}"><i
                                                                class="bi bi-trash3"
                                                                style="padding-right: 5px;"></i>Delete</button>
                                                        <button type="submit" class="btn btn-success"><i
                                                                class="bi bi-arrow-repeat"
                                                                style="padding-right: 5px;"></i>Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Modal 2-->
                                <form method="POST" action="{{ url_for('delete_shopping') }}">
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <div class="modal fade" id="deletePurchase-{{ item.id }}" tabindex="-1"
                                        aria-labelledby="delLabel-{{ item.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="delLabel-{{ item.id }}">
                                                        Delete Item:
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete the following
                                                    item:<br><b>{{item.item}}</b>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"
                                                            style="padding-right: 5px;"></i>Yes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <h4>Add to Shopping List</h4>
                <form method="POST" action="{{ url_for('shopping') }}">
                    <div class="form-group">
                        <label for="item">Item:</label>
                        <input type="text" class="form-control" id="item" name="item" required>
                    </div>
                    <div class="form-group">
                        <label for="customer">Customer:</label>
                        <input type="text" class="form-control" id="customer" name="customer" required>
                    </div>
                    <div class="form-group">
                        <label for="link">Merchant Link:</label>
                        <input type="text" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>
                    <div class="form-group">
                        <label for="tags2">Tags</label>
                        <select class="form-control" id="tags2" name="tags2[]" multiple>
                            <option value="" disabled>Select tags</option>
                            {% for tag in tags %}
                            <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mt-4">
                        <div id="selected_tags2"></div>
                    </div>
                    <br>
                    <div class="row justify-content-between">
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary">Add Item</button>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-secondary" name="archive" value="true">Archive</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <hr class="border border-primary border-1 opacity-10">
            <table class="table table-hover table-responsive caption-top">
                <caption><b>Review/Archive</b></caption>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Customer</th>
                        <th>Link</th>
                        <th>Quantity</th>
                        <th>Tags</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in shopping_list %}
                    {% if item.purchased == 'archive'%}
                    <tr 
                    {% if 'Urgent' in item.tags|map(attribute='name') and 'Deal' in item.tags|map(attribute='name') %} style="background-color:#c8b6ff;"
                    {% elif 'Deal' in item.tags|map(attribute='name') %}class="table-primary"
                    {% elif 'Urgent' in item.tags|map(attribute='name') %}class="table-danger"{% endif %}>
                        <td>{{ item.item }}</td>
                        <td>{{ item.customer }}</td>
                        <td>
                            <h4><a href="{{ item.link }}" target="_blank"><i class="bi bi-link-45deg"></i></a></h4>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <div class="tags">
                                {% for tag in item.tags %}
                                <span class="badge text-bg-{{ tag.color }}"
                                    style="background-color: {{ tag.color }};">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <form method="POST" action="{{ url_for('move_shopping') }}">
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <button type="submit" class="btn btn-warning btn-sm text-nowrap"><i
                                            class="bi bi-bag-plus-fill" style="padding-right: 5px;"></i>To Shop</button>
                                </form>
                                <form method="POST" action="{{ url_for('delete_shopping') }}">
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <button type="submit" class="btn btn-danger btn-sm text-nowrap"><i
                                            class="bi bi-trash3" style="padding-right: 5px;"></i>Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <hr class="border border-primary border-1 opacity-10">
        </div>
        <div class="row">
            <table class="table table-hover table-responsive caption-top">
                <caption><b>Purchase History</b></caption>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Customer</th>
                        <th>Link</th>
                        <th>Quantity</th>
                        <th>Tags</th>
                        <th>Status</th>
                        <th class="text-nowrap">Date of Purchase <span class="badge text-bg-info"><i
                                    class="bi bi-sort-down"></i></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in shopping_list %}
                    {% if item.purchased != 'no' and item.purchased != 'archive'%}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td>{{ item.customer }}</td>
                        <td>
                            <h4><a href="{{ item.link }}" target="_blank"><i class="bi bi-link-45deg"></i></a></h4>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <div class="tags">
                                {% for tag in item.tags %}
                                <span class="badge text-bg-{{ tag.color }}"
                                    style="background-color: {{ tag.color }};">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('index') }}">
                                <input type="hidden" name="item_index" value="{{ loop.index }}">
                                <button type="button"
                                    class="btn text-nowrap btn-{% if item.purchased=='yes' %}success{% endif %}{% if item.purchased!='yes' %}danger{% endif %} btn-sm"
                                    {% if item.purchased=='yes' %}data-bs-toggle="modal"
                                    data-bs-target="#order-{{ item.id }}" {% endif %}{% if item.purchased!='yes'
                                    %}data-bs-toggle="modal" data-bs-target="#Decline-{{ item.id }}" {% endif %}>{% if item.purchased=='yes' %}<i class="bi bi-check-all"
                                        style="padding-right: 5px;"></i>Purchased {% endif %}{% if item.purchased!='yes'
                                    %}<i class="bi bi-x-square" style="padding-right: 5px;"></i>Declined{% endif
                                    %}</button>
                            </form>
                        </td>
                        <td>{{ item.date }}</td>
                        {% if item.purchased=='yes' %}
                        <!-- Modal -->
                        <div class="modal fade" id="order-{{ item.id }}" tabindex="-1"
                            aria-labelledby="orderLabel-{{ item.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="orderLabel-{{ item.id }}">
                                            Oredr Detail:
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>{{ item.quantity }}x</b> {{ item.item }}<br>
                                        <hr>
                                        <h5>Order ID:</h5>{{ item.order_id }}
                                        <h5>Notes:</h5>{{ item.note }}
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if item.purchased=='declined' %}
                        <!-- Modal -->
                        <div class="modal fade" id="Decline-{{ item.id }}" tabindex="-1"
                            aria-labelledby="DeclineLabel-{{ item.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="DeclineLabel-{{ item.id }}">
                                            Declined Item:
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>{{ item.quantity }}x</b> {{ item.item }}<br>
                                        <hr>
                                        <h5>Notes/Reasons:</h5>{{ item.note }}
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
<script>
    function declinePurchase(itemId) {
        // Find the form element with the corresponding item ID
        const form = document.querySelector(`form[data-item-id="${itemId}"]`);

        // Set the action URL to the Flask route for declining the purchase
        form.action = "{{ url_for('decline_purchase') }}";

        // Submit the form
        form.submit();
    }
    function archivePurchase(itemId) {
        // Find the form element with the corresponding item ID
        const form = document.querySelector(`form[data-item-id="${itemId}"]`);

        // Set the action URL to the Flask route for declining the purchase
        form.action = "{{ url_for('archive_purchase') }}";

        // Submit the form
        form.submit();
    }
    $(document).ready(function () {
        var tags = JSON.parse('{{ tags | tojson | safe }}');

        $('#tags').change(function () {
            var selectedTags = $(this).val();
            $('#selected_tags').empty();

            if (selectedTags) {
                for (var i = 0; i < selectedTags.length; i++) {
                    var tagName = selectedTags[i];
                    var tag = tags.find(function (t) {
                        return t.name === tagName;
                    });

                    if (tag) {
                        var badge = '<span class="badge text-bg-' + tag.color + '" style="background-color:' + tag.color + ';">' + tag.name + '</span>';
                        $('#selected_tags').append(badge);
                    }
                }
            }
        });
        $('#tags2').change(function () {
            var selectedTags = $(this).val();
            $('#selected_tags2').empty();

            if (selectedTags) {
                for (var i = 0; i < selectedTags.length; i++) {
                    var tagName = selectedTags[i];
                    var tag = tags.find(function (t) {
                        return t.name === tagName;
                    });

                    if (tag) {
                        var badge = '<span class="badge text-bg-' + tag.color + '" style="background-color:' + tag.color + ';">' + tag.name + '</span>';
                        $('#selected_tags2').append(badge);
                    }
                }
            }
        });
    });
</script>

</html>